/* Font import */
@import url("https://fonts.googleapis.com/css?family=Arvo:700|Geostar|Montserrat:300,400,700|Encode+Sans+Condensed:300,400&display=swap");
/* element styling in alphabetical order */

a {
  color: inherit;
  text-decoration: none;
}

aside {
  width: 100%;
}

body {
  color: rgb(101, 101, 101);
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  margin: 5px 0;
  text-align: center;
}

hr {
  border: 0.5px solid rgb(220, 220, 220);
  margin: 3px;
}

h2 {
  color: tomato;
  font-family: "Arvo", serif;
  font-size: 2.2rem;
  letter-spacing: 5px;
  margin-bottom: 15px;
  text-shadow: 2px 3px rgb(228, 228, 228);
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

i {
  margin: 5px;
}

label {
  font-size: 10px;
  font-weight: bold;
}

section #sidebar {
  display: flex;
  flex-direction: column;
}

p {
  color: rgb(147, 147, 147);
  font-size: 0.9rem;
  font-weight: lighter;
  letter-spacing: 0rem;
  line-height: 175%;
  text-align: left;
  word-spacing: 0.3rem;
}

/* class styling in alphabetical order */
/* items ending in QC refer to sections of the footer */

.addresses {
  display: flex;
  flex-direction: row;
}

.addressStack1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.addressStack2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.article-image {
  border: solid 3px rgb(235, 235, 235);
  margin: 20px 0;
  width: 98%;
}

.article-image-header {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 25px;
  text-align: left;
}

.article-preview {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.article-preview-text {
  margin: auto auto 30px auto;
  text-align: left;
  /* font-family: 'Encode Sans Condensed',; */
}

.article-sub-head {
  font-size: 14px;
  text-align: left;
}

.big-brackets {
  color: rgb(148, 148, 148);
  font-family: "Geostar";
  font-size: 80px;
}

.box {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.box-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.column1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.column2 {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.commentQC {
  margin: 0rem;
  padding: 10px 0px 10px 0rem;
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.contentQC {
  width: 20rem;
}

.containerQC {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.continue-reading-button {
  align-items: center;
  background-color: tomato;
  border-radius: 4px;
  box-shadow: rgb(230, 230, 230) 2px 2px;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.continue-reading-button:hover {
  background-color: rgb(159, 66, 51);
  color: rgb(228, 228, 228);
  transition: 0.25s;
}

.date {
  background-color: rgb(154, 154, 154);
  border-radius: 4px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 45px;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.25s;
  width: auto;
}

.date:hover {
  background-color: rgb(159, 66, 51);
  color: rgb(228, 228, 228);
  transition: 0.25s;
}

.dateBox {
  margin-top: 20px;
  text-align: left;
}

.emailQC {
  display: flex;
  justify-content: space-between;
}

.featuredIMG {
  border: solid 3px rgb(235, 235, 235);
  margin: 40px 0;
  width: 98%;
}

.headerQC {
  text-align: center;
}

.home-anchor {
  color: tomato;
  text-decoration: none;
}

.image-with-caption {
  display: flex;
  flex-direction: column;
}

.input-email {
  background-color: rgb(244, 244, 244);
  border: none;
  border-radius: 2px;
  box-shadow: -1px -1px #d8d8d8;
  font-family: "Montserrat", sans-serif;
  height: 2rem;
  outline-color: lightgray;
  padding-left: 3%;
  width: 45%;
}

.input-email:focus {
  background-color: white;
  transition: 0.25s;
}

.input-name {
  background-color: rgb(244, 244, 244);
  border: none;
  border-radius: 2px;
  box-shadow: -1px -1px #d8d8d8;
  font-family: "Montserrat", sans-serif;
  outline-color: lightgray;
  padding-left: 3%;
  width: 45%;
}

.input-name:focus {
  background-color: white;
  transition: 0.25s;
}

.learn-more-button {
  align-items: center;
  background-color: tomato;
  border-radius: 4px;
  box-shadow: rgb(230, 230, 230) 2px 2px;
  color: white;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
  width: 150px;
}

.learn-more-button:hover {
  background-color: rgb(159, 66, 51);
  color: rgb(228, 228, 228);
  transition: 0.25s;
}

.landing-image {
  border: solid 3px rgb(235, 235, 235);
  border-radius: 2px;
  margin: 40px 0;
  width: 97%;
}

.post {
  align-items: center;
  margin: 30px auto;
}

.post-image-header {
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

.post-text {
  font-weight: lighter;
  letter-spacing: 0rem;
  margin: auto auto 30px auto;
  text-align: left;
}

.QC {
  font-size: 1.5em;
  padding: 1rem;
}

.relatedIMG {
  border: solid 3px rgb(235, 235, 235);
  margin-bottom: 10px;
  width: 95%;
}

.SBheader {
  color: rgb(142, 142, 142);
  margin: 30px 0;
  padding-top: 10px;
  text-align: left;
}

.SBheader:hover {
  color: tomato;
  cursor: pointer;
  transition: 0.25s;
}

.SBparagraph {
  font-size: 0.8rem;
  font-weight: normal;
  font-weight: lighter;
  letter-spacing: 0rem;
  margin: auto auto 30px auto;
  text-align: left;
}

.stackItem {
  padding: 0.4rem;
  text-align: left;
}

.separator {
  margin-bottom: 40px;
}

.subHead {
  text-align: center;
}

.tell-me-more-button {
  background-color: tomato;
  border-radius: 4px;
  box-shadow: rgb(230, 230, 230) 2px 2px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin-top: 40px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.25s;
}

.tell-me-more-button:hover {
  background-color: rgb(159, 66, 51);
  color: rgb(228, 228, 228);
  transition: 0.25s;
}

/* id styling in alphabetical order */

#comment-area {
  background-color: rgb(244, 244, 244);
  border: none;
  border-radius: 2px;
  box-shadow: -1px -1px #d8d8d8;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  padding-top: 3%;
  width: 400px;
}

#comment-area:focus {
  background-color: white;
  outline-color: lightgray;
  transition: 0.25s;
}

#footer {
  background-color: rgb(235, 235, 235);
  font-size: 12px;
  height: 40%;
  padding-bottom: 3%;
  padding-top: 50px;
  width: 100%;
}

#header {
  text-align: center;
  width: 100%;
}

#features {
  margin-bottom: 75px;
}

#hp-featured {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#landing-images {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
}

#left {
  margin-right: 5%;
  width: 30%;
}

#main {
  margin-bottom: 40px;
  padding: 0 0;
  width: 70%;
}

#mainLeft {
  padding: 0vw 5vw 5vw 0vw;
  width: 70%;
}

#mainRight {
  padding: 0vw 0vw 5vw 5vw;
  width: 70%;
}

#quote {
  color: white;
  font-size: 20px;
  margin: auto 10vw;
}

#quote-block {
  align-items: center;
  display: flex;
}

#quote-section {
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(78, 83, 89, 1) 0%,
    rgba(115, 120, 122, 1) 37%,
    rgba(115, 120, 122, 1) 63%,
    rgba(78, 83, 89, 1) 100%
  );
  display: flex;
  height: 225px;
  justify-content: center;
  margin-bottom: 75px;
  width: 100%;
}

#right {
  margin-left: 5%;
  margin-top: 0;
  width: 30%;
}

#sidebar {
  margin: auto auto 40px auto;
  text-align: left;
}

#subtitle {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 70px;
  text-align: center;
  word-spacing: normal;
}
