#header {
    text-align: center;
}

h2 {
    font-family: serif;
    color: tomato;
    text-shadow: 1px 1px gray;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#right {
    width: 30vw;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#main {
    width: 50vw;
    padding: 5vw;
}

section #sidebar {
    display: flex;
    flex-direction: column;
    height: 30vw;
}

aside {
    padding: 5vw;
    width: 100%;
}



#footer {
font-size: 12px;
background-color: gray;
}

.featuredIMG {
    width: 50vw;
}

.relatedIMG {
    width: 20vw;
}